.title,
h1 {
    color: #9c8fffc4;
    font-family: "Playwrite NZ Basic", cursive;
    align-items: center;
    margin: 32px auto;
    display: flex;
    justify-content: center;
}

.Hobbies-wrapper {
    width: 100%;
    overflow: hidden;
    margin-bottom: 32px;
}

.Hobbies {
    display: flex;
    gap: 16px;
    width: max-content;
    animation: deslizar 30s linear infinite;
    height: 200px;
}

@keyframes deslizar {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.Card {
    background: rgb(8, 8, 8);
    width: 320px;
    border-radius: 32px;
    display: flex;
    gap: 48px;
    width: 55%;
    margin: 32px auto;
    border-radius: 32px;
    box-shadow: rgba(196, 159, 255, 0.16) 0px 1px 4px, rgb(117, 78, 255) 0px 0px 0px 3px;


}

.text {
    color: white;
    margin: 22px 0px;

    h2 {
        color: #9c8fffc4;
        font-family: "Playwrite NZ Basic", cursive;
        text-align: center;
        

    }
    p {
        font-size: 16px;
        line-height: 1.7;
        color: #cfcfcf;
        text-align: center;
        font-weight: 800;
        font-family: "Poppins", sans-serif;
    }   
}

.descricao{
   margin-top: 22px;
}