section {
  cursor: default;
}

/* Título principal */
.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 32px;
  color: #9c8fffc4;
  letter-spacing: 1px;
}

/* Container dos cards */
.cards {
  display: flex;
  gap: 70px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 42px;

}

/* Card individual */
.card {
  background-color: #9c8fffc4;
  border-radius: 16px;
  padding: 30px;
  width: 490px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

/* Efeito hover */
.card:hover {
  transform: translateY(-8px);

}

/* Subtítulo */
.subtitle {
  font-size: 30px;
  margin-bottom: 15px;
  color: rgb(8, 8, 8);
  text-align: center;
  font-family: "Playwrite NZ Basic", cursive;
  font-weight: 900;

}

/* Texto */
.card p {
  font-size: 1rem;
  line-height: 1.6;
  color: #d1d5db;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}