.footer {
  width: 100%;
  padding: 45px 48px 20px;
  background: rgb(8, 8, 8);
  display: flex;
  justify-content: center;
  border-radius: 42px 42px 0px 0px;
}

/* container */
.content {
  width: 100%;
  max-width: 1100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;

  border-top: 1px solid rgba(255, 255, 255, 0.06);
  padding-top: 32px;
}

/* Nome */
.name {
  font-size: 32px;
  font-weight: 700;
  color: #9c8fffc4;
  letter-spacing: 0.5px;
}

/* Subtitle */
.subtitle {
  font-size: 0.95rem;
  color: #b9b9c7;
  text-align: center;
  max-width: 520px;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

/* Socials */
.socials {
  display: flex;
  gap: 24px;
  margin-top: 6px;
}

.socials a {
  color: #b9b9c7;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 50%;

  transition: 
    color 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.socials a:hover {
  color: #9c8fff;
  transform: translateY(-4px);
  box-shadow: 0 0 18px rgba(156, 143, 255, 0.35);
}

/* copyright */
.copy {
  margin-top: 18px;
  font-size: 0.8rem;
  color: #8b8b8d;
  font-family: "Poppins", sans-serif;
  font-weight: 800;


}